* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo {
    width: 8vw;
    display: inline-block;
  }
  
  header {
    background-color: #ffcf00;
    width: 100%;
    display: inline-block;
    height: 29vh;
  }
  
  .liMenu {
    display: inline;
    margin-left: 5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menu {
    display: inline-block;
    margin-left: 23%;
    text-align: center;
  }
  
  /*fim da header*/
  /*inicio da main*/
  
  .primeiraSection {
    background-color: #f4b418;
    margin-top: 3rem;
    margin-left: 35%;
    border-radius: 15%;
    width: 500px;
    height: 300px;
    padding-top: 20px;
    padding-left: 3rem;
  }
  
  .divForm1 {
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 2vh;
  }
  
  .selecione {
    font-weight: bold;
    margin-top: 2vh;
  }
  
  .diasDaSemana {
    text-align: center;
  }
  
  .enviar {
    margin-left: 18rem;
    background-color: #0f2398;
    width: 10vw;
    height: 7vh;
    border-radius: 20px;
    color: #ffffff;
  }
  
  /* fim do form */
  
  .segundaPartesec2 {
    display: inline-block;
    background-color: #f4b418;
    width: 20rem;
    height: 10rem;
    margin-top: 1rem;
    font-size: 1rem;
    color: grey;
    text-align: center;
    margin-left: 25rem;
  }
  
  .segundaPartesec3 {
    display: inline-block;
    text-align: center;
    width: 20rem;
    height: 10rem;
    margin-top: 5vh;
    font-size: 1rem;
    background-color: #f4b418;
    color: grey;
  }
  
  /* fim do main */
  /*inicio do footer*/
  
  /*footer*/
  
  footer {
    background-color: #ffcf00;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgRodape {
    width: 8rem;
    height: 8rem;
  }
  
  .navegacao {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .listaRodape {
    display: inline-block;
    width: -1%;
    margin-left: 3rem;
    font-size: 1rem;
  }
  